#id_label_textarea_display_document_text{
    height: auto;
    display: block;
}

#id_textarea_display_document_text{
    height: 500px;
    width: 700px;
}

#id_div_tag_container{
    border: 3px solid green;
    padding: 5px;
    margin: 20px;
    width: 15%;
    box-shadow: 5px 10px #888888;
    display: inline-flex;
    /*display: inline-flex;*/
}

#id_div_tag_remove_button_container{
    width: 15%;
    float: left;
    margin: 20px 10px;
}

#id_div_tag_name{
    margin-left: 15%;
}

#id_div_container_name_and_edit_document{
    width: 80%;
    height: 150px;
    margin: auto;

}

#id_div_document_name{
    width: 150%;
    margin: 2px;
    float: left;
}

#id_div_container_delete_document{
    float: right;
}

#id_div_edit_document_button{
    margin-left: 15%;
}

