a {
    color: blue;
}

#div-container-create-doc{
    border: 1px solid black;
    padding: 10px;
    float: right;
}

#div-container-all-tags{
    border: 1px solid black;
    float: left;
    padding: 10px;
}

#div-container-all-docs{
    border: 1px solid black;
    float: left;
    padding: 10px;
}

#div-container-all-tagmaps{
    border: 1px solid black;
    float: left;
    padding: 10px;
}