{% extends 'notemaster_core/base.html' %}
{% load static %}
{% block head_css_section %}
    <link href="{% static 'logbook/css/base.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_section %}

{# Navigation Menu #}
{% block navbar_brand %}
<a class="navbar-brand" href="{% url 'logbook:index' %}">LogBook</a>
<ul class="navbar-nav mr-auto">
    <li>
        <a class="nav-link" href="{% url 'logbook:create_entry' %}">Create Entry</a>
</li>
</ul>
{% endblock navbar_brand %}

{% block header_listed_content %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'logbook:display_all_entries' %}">Display All Entries</a>
</li>
{% endblock header_listed_content %}