{% load static %}
{% load app_filters %}

<div id="div-container-create-doc">
    <div class="create-doc-title-container">
        <p>Create New Document</p>
    </div>

    <form action="{% url 'notes:create_doc'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create-doc-input">
            <fieldset class="module aligned">
                {% with create_document_form as item_form %}
                    {% include 'notes/snippets/create-item-snippet.html' %}
                {% endwith %}
            </fieldset>
        </div>
        <input type="submit" />
    </form>
</div>