{% load static %}
{% load app_filters %}

<div id="div-container-create-image">
    <div class="create-image-title-container">
        <p>Create New Image</p>
    </div>

    <form action="{% url 'notes:create_image'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create-image-input">
            <fieldset class="module aligned">
                <div class="form-row">
                    <div class="create-image-name-container">
                        <label>{{ create_image_form.image_name.label }}</label>
                        {{ create_image_form.image_name|add_class:'form-image-name' }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="create-image-text-container">
                        <label>{{ create_image_form.image_text.label }}</label>
                        {{ create_image_form.image_text|add_class:'form-image-text' }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="create-image-image-upload-container">
                        <label>{{ create_image_form.image_picture.label }}</label>
                        {{ create_image_form.image_picture|add_class:'form-image-picture' }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="create-image-tag-container">
                        <label>{{ create_image_form.new_tag.label }}</label>
                        {{ create_image_form.new_tag|add_class:'form-new-tag' }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="create-image-submit-btn-container">
            <input type="submit" />
        </div>
    </form>
</div>