{% load static %}
{% load app_filters %}

<div id="div-container-create-image">
    <div class="create-image-title-container">
        <p>Create New Image</p>
    </div>

    <form action="{% url 'notes:create_image'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create-image-input">
            <fieldset class="module aligned">
                {% with create_image_form as item_form %}
                    {% include 'notes/snippets/create-item-snippet.html' %}
                {% endwith %}
                <div class="form-row">
                    <div class="create-image-image-upload-container">
                        <label>{{ create_image_form.image_picture.label }}</label>
                        {{ create_image_form.image_picture|add_class:'form-image-picture' }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="create-image-submit-btn-container">
            <input type="submit" />
        </div>
    </form>
</div>