{% load static %}
{% load app_filters %}

<div id="div-container-create-doc">
    <div class="create-doc-title-container">
        <p>Create New Document</p>
    </div>

    <form action="{% url 'notes:create_doc'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create-doc-input">
            <fieldset class="module aligned">
                <div class="form-row">
                    <div class="create-doc-name-container">
                        <label>{{ create_document_form.document_name.label }}</label>
                        {{ create_document_form.document_name|add_class:'form-doc-name' }}
                        <div class="duplicate-name-error-container">
                        {% if duplicate_name_error %}
                            {{ duplicate_name_error }}
                        {% endif %}
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="create-doc-text-container">
                        <label>{{ create_document_form.document_text.label }}</label>
                        {{ create_document_form.document_text|add_class:'form-doc-text' }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="create-doc-tag-container">
                        <label>{{ create_document_form.new_tag.label }}</label>
                        {{ create_document_form.new_tag|add_class:'form-new-tag' }}
                    </div>
                </div>
            </fieldset>
        </div>

        <input type="submit" />
    </form>
</div>