{% load static %}
{% load app_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'notesfromxml/style.css' %}" />

<!-- This is a recursive HTML file that goes through a recursion for the entire XML tree.
 For the recursion to work, it is necessary that every variable that is recursed through be named "value". -->

<!-- Checks if the value is any sort of dictionary, if not then it should have just regular values to output -->

{% comment %}
<p>value: {{ value }}</p>
<p>value get_type: {{ value|get_type }}</p>
{% endcomment %}
{% if value|get_type == "list" %}
    <div style="border: 1px solid red; padding: 25px;">
        <!--<p style="text-decoration: underline; text-decoration-color: red"> value is of type list.</p>-->
        <!-- recursively go through each item on the list. Every item should be of the type 'dict' -->
        {% for value in value %}
            {% comment %}
            <p style="text-decoration: underline; text-decoration-color: red">the value in value when value is list (hehe): {{ value }}</p>
            {% endcomment %}
            {% include 'notesfromxml/old_xml_templates/xml-detail-test.html' %}
        {% endfor %}
    </div>

    <!-- If value.1 is a dict, then value.0 is it's key. -->
{% elif value.1|get_type == "dict" %}
    <div style="border: 1px solid green; padding: 25px;">
        <p style="text-decoration: underline; text-decoration-color: green;"> value.1 is of type dict.</p>
        <h4>value.0 - {{ value.0 }}</h4>
        <p>value: {{ value }}</p>

        {% comment %}
        {% if value.0 == "links" %}
            {% for key, value in value.1.items %}
                <p>links key: {{ key }} - links value: {{ value }}</p>
            {% endfor %}
        {% endif %}
        {% endcomment %}

        {% for value in value.1.items %}
            <p>value right before recursion in value.1=dict: {{ value }}</p>
            {% include 'notesfromxml/old_xml_templates/xml-detail-test.html' %}
        {% endfor %}
    </div>

    <!-- It's possible that value itself is a dict. -->
{% elif value|get_type == "dict" %}
    <div style="border: 1px solid blue; padding: 25px;">
        {% for key, value in value.items %}

            <!-- display links in a special manner -->
            {% if key == "links" %}
                <div style="border: 1px solid black; padding: 10px;">
                <h4>Further Reading</h4>
                <!-- Value here can either be a single link or a list of links -->
                {% if value.link|get_type == "list"%}
                    {% for link_item in value.link %}
                        <p> <b>description:</b> {{ link_item.description }} - {{ link_item.url|urlize }}</p>
                    {% endfor %}
                {% else %}
                    <p> <b>description:</b> {{ value.link.description }} - {{ value.link.url|urlize }}</p>
                {% endif %}
                </div>

            {% elif key == "name" or key == "purpose" %}
                <p><b>{{ key }}</b>: {{ value }}</p>

            {% else %}
                {% if value|get_type != "str" %}
                    <h4 style="text-decoration: underline">{{ key }}</h4>
                    {% include 'notesfromxml/old_xml_templates/xml-detail-test.html' %}
                {% else %}
                    <!--<p style="text-decoration: underline">key = {{ key }} - value = {{ value }}</p>-->
                    <p>{{ key }}: {{ value }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}