<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- A block for the title of the page -->
    <title>{% block title %} Title {% endblock title %}</title>
    <!-- A block for the icon of the page. -->
    {% block head_favicon %}
        <link rel="icon" type="image/png"
              href="{{ STATIC_URL }}images/favicon.ico">
    {% endblock head_favicon %}
    {% load static %}
    {% block head_css %}
        {% block head_css_site %}
            <link rel="stylesheet" href="{% static 'notesfromxml/bootstrap/bootstrap_4/bootstrap.min.css' %}"
            crossorigin="anonymous" media="screen"/>
            <link href="{% static 'notesfromxml/css/base.css' %}" rel="stylesheet" media="screen">
        {% endblock head_css_site %}
        {% block head_css_section %}{% endblock head_css_section %}
        {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
</head>
<body>
{# Navigation Menu #}
    <header>
        <!--<div class="navbar navbar-default navbar-static-top-->
        <!--<nav class="navbar navbar-dark navbar-static-top bg-dark-->
        <nav class="navbar navbar-dark bg-dark navbar-fixed-top
            {% block nav-style %}{% endblock %}" role="navigation"
        >
            <div class="container p-none">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                    <a class="navbar-brand navbar-custom-btn" href={% url 'notesfromxml:index' %}>Home</a>
                    <!-- Create dropdown -->
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" role="button"
                           data-toggle="dropdown" href="#"
                           aria-haspopup="true" aria-expanded="false">Create</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href={% url 'notesfromxml:create_doc' %}>New Document</a>
                            <a class="dropdown-item" href={% url 'notesfromxml:create_image' %}>New Image</a>
                        </div>
                    </div>
                    <a class="navbar-brand navbar-custom-btn" href={% url 'notesfromxml:display_help' %}>Help</a>
                    <a class="navbar-brand navbar-custom-btn" href={% url 'notesfromxml:doc_by_tag' %}>Search</a>
                    <a class="navbar-brand navbar-custom-btn" href={% url 'notesfromxml:list_db_content' %}>All Item List</a>
                    <!-- Dev Stuff dropdown -->
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" role="button"
                           data-toggle="dropdown" href="#"
                           aria-haspopup="true" aria-expanded="false">Dev Stuff</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href={% url 'notesfromxml:display_tests' %}>Test Page</a>
                            <a class="dropdown-item" href={% url 'notesfromxml:show_views' %}>All Views</a>
                            <a class="dropdown-item" href={% url 'notesfromxml:display_spring_portal' %}>Spring Portal</a>
                            <a class="dropdown-item" href={% url 'notesfromxml:display_programming_portal' %}>Programming Portal</a>
                            <a class="dropdown-item" href={% url 'notesfromxml:display_angular_portal' %}>Angular Portal</a>
                        </div>
                    </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href={% url 'notesfromxml:index' %}>Logout</a></li>
                            <li><a href=""
                                   class="p-r-none">Accounts</a></li>
                        {% else %}
                            <li><a href="">Login</a></li>
                            <li><a href="" class="p-r-none">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {# The Document Body #}
    <div id="site-wrapper">
        {% block content %}
            if you see this, something is wrong!
        {% endblock content %}
    </div>
    {# The Footer #}
    {% comment %}
    <div class="footer">
        <div class="container">
            <p>A&A Industries</p>
        </div>
    </div>
    {% endcomment %}


{# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="{% static 'notesfromxml/jquery/jquery.min.js' %}"
            crossorigin="anonymous"></script>

            <!-- Bootstrap needs to load AFTER jQuery -->
            <script src="{% static 'notesfromxml/bootstrap/bootstrap_4/bootstrap.bundle.min.js' %}"
            crossorigin="anonymous"></script>

           <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                    crossorigin="anonymous"></script>

            <!-- Testing prettyprint for codeblocks -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
            <script>prettyPrint()</script>

            <!-- testing highlightjs for codeblocks -->
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
            <script>hljs.initHighlightingOnLoad();</script>

            {% comment %}
            <script src="{% static 'notesfromxml/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'notesfromxml/bootstrap/bootstrap.min.css' %}"></script>
            {% endcomment %}
            {% comment %}<script src="{% static 'notesfromxml/js/app' %}js/app.js"></script> {% endcomment %}
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</body>
</html>