{% extends 'notesfromxml/base.html' %}
{% load static %}

{% block title %} CREATE DOCUMENT {% endblock title %}
{% block head_css_page %}
    <link href="{% static 'notesfromxml/css/create-document.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_page %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% include 'notesfromxml/snippets/create-doc-snippet.html' %}
            </div>
        </div>
    </div>
{% endblock content %}