<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Creation</title>
</head>
<body>

    <form action="{% url 'notesfromxml:create_doc'%}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" id="docNameId" name="docName">
            <label for="docNameId"> Document Name</label>
        </div>
        <div>
            <input type="text" id="docTextId" name="docText">
            <label for="docTextId"> Document Text</label>
        </div>
        <div>
            <input type="text" id="tagId" name="newTag">
            <label for="tagId">Input new tag here: </label>
        </div>
        {% comment %}
        {% if tags %}
            {% for tag in tags %}
                <input type="radio" name="tagchoice" id="tagchoice{{ forloop.counter }}"  value="{{ tag.id }}" />
                <label for="tagchoice{{ forloop.counter }}">{{ tag.tag_name}}</label>
            {% endfor %}
        {% endif %}
        {% endcomment %}
        <input type="submit" />

    </form>

    <!-- Display a list of all of the tags that currently exist-->
    <div>
        {% if tags %}
        <p>All tags in the database</p>
        <ul>
            {% for tag in tags %}
                <li>{{ tag.tag_name }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
<!-- Display a list of all of the documents that currently exist-->
    <div>
        {% if documents %}
        <p>All documents in the database</p>
        <ul>
            {% for doc in documents %}
                <li>{{ doc.document_name }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
<!-- Display a list of all of the tagmaps that currently exist-->
    <div>
        {% if tagmaps %}
        <p>All tagmaps in the database</p>
        <ul>
            {% for tagmap in tagmaps %}
                <li>{{ tagmap }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>