{% extends 'notesfromxml/base.html' %}
{% load static %}

{% block title %} DISPLAY ALL DOCUMENTS {% endblock title %}
{% block head_css_page %}
    <link href="{% static 'notesfromxml/css/display-all-docs.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_page %}

{% block content %}
    {% if documents %}
        {% for doc in documents %}
            <div class="document_wrapper">
                <h3>{{ doc.document_name }}</h3>
                <p>{{ doc.document_text }}</p>
                <div class="tabContainer">
                <p>Tags:</p>
                    <ul>
                        {% for mapset in doc.tagmap_set.all %}
                            <li> {{ mapset.tag.tag_name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <form action="{% url 'notesfromxml:display_docs'%}" method="post">
                    <!-- This form is for adding a tag to the displayed document -->
                    {% csrf_token %}
                    <div>
                        {{ form.as_p }}
                        <input type="hidden" name="current_document" value="{{ doc.document_name }}">
                        <input type="submit" />
                    </div>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>No documents found in the database.</p>
    {% endif %}
{% endblock content %}