{% extends 'notesfromxml/base.html' %}
{% load static %}
{%  block head_css_page %}
    <link rel="stylesheet" type="text/css" href="{% static 'notesfromxml/css/display-doc.css' %}" />
 {% endblock head_css_page %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Tags to the left side -->
        <div class="col-sm-2">
            <div class="sidebar-module">
                <h3>Tags</h3>
                {% for mapset in document.tagmap_set.all %}
                    <div  id="id_div_tag_container">
                        <div id="id_div_tag_name">
                            <a href="{% url 'notesfromxml:display_tag' mapset.tag.tag_name %}">{{ mapset.tag.tag_name }}</a>
                        </div>
                        {% include 'notesfromxml/snippets/forms/remove-tag-snippet.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Document name and text in the middle -->
        <div class="col-sm-8">
            <h1>{{ document.document_name }}</h1>
            <div id="div-container-document-text">
                <label id="id_label_textarea_display_document_text">
                    {{ document_paragraphs|safe }}
                </label>
            </div>

            <!-- A test div to see if images can be inserted into the document. -->
            <div class="testdiv">
                {% for mapset in document.imagedocumentmap_set.all %}
                        <div  id="id_div_tag_container">
                            <div id="id_div_tag_name">
                                <img src="{{ mapset.image.image_picture.url }}" alt="{{ mapset.image.image_name }}"
                                     class="img-responsive img-rounded">
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>


        <!-- Edit and delete buttons to the right side -->
        <div class="col-sm-2">
            <div id="id_div_edit_document_button">
                <a class="btn btn-outline-secondary" href="{% url 'notesfromxml:edit_doc' document.document_name %}"> edit document</a>
            </div>

            <div id="id_div_container_delete_document">
                {% include 'notesfromxml/snippets/forms/delete-document-snippet.html' %}
            </div>
        </div>
    </div>
</div>



{% endblock content %}