{% if documents %}
    {% for doc in documents %}
        <div style="border: 1px solid black">
            <h3>{{ doc.document_name }}</h3>
            <p>{{ doc.document_text }}</p>
            <div class="tabContainer">
            <p>Tags:</p>
                <ul>
                    {% for mapset in doc.tagmap_set.all %}
                        <li> {{ mapset.tag.tag_name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <form action="{% url 'notesfromxml:create_doc'%}" method="post">
                {% csrf_token %}
                <div>
                    <input type="text" id="tagId" name="newTag">
                    <label for="tagId">Input new tag here: </label>
                    <input type="submit" />
                </div>
            </form>
        </div>

    {% endfor %}
{% else %}
    <p>No documents found in the database.</p>
{% endif %}