{% extends 'notesfromxml/base.html' %}

{% block content %}
{% if tags %}
    {% for tag in tags %}
        <div style="border: 1px solid black">
            <h3>Tag: <a href="{% url 'notesfromxml:display_tag' tag.tag_name %}"> {{ tag.tag_name }} </a></h3>
            <div class="tabContainer">
            <p>Documents:</p>
                <ul>
                    {% for mapset in tag.tagmap_set.all %}
                        <li> <a href="{% url 'notesfromxml:display_doc' mapset.document.document_name %}"> {{ mapset.document.document_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endfor %}
{% else %}
    <p>No tags found in the database.</p>
{% endif %}
{% endblock content %}