{% extends 'notesfromxml/base.html' %}
{% load static %}
{% load app_filters %}
{% block title %} {{ document.document_name }} {% endblock title %}
{%  block head_css_page %}
    <link rel="stylesheet" type="text/css" href="{% static 'notesfromxml/css/display-doc.css' %}" />
 {% endblock head_css_page %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Tags to the left side -->
        <div class="col-sm-2">
            <div class="sidebar-module">
                <h3>Tags</h3>
                {% for tag in document.get_all_tags_sorted %}
                    <div id="id-div-tag-container">
                        <a class="btn btn-outline-secondary btn-block" href="{% url 'notesfromxml:display_tag' tag.tag_name %}" id="tag-btn-link-text">
                            {{ tag.tag_name }} <span class="badge badge-light"> ({{ tag.get_nr_of_docs_with_tag }})</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Document name and text in the middle -->
        <section class="col-sm-8">
            <h1>{{ document.document_name }}</h1>
            <div id="div-container-document-text">
                <label id="id-label-textarea-display-document-text">
                    {{ document.get_parsed_text|safe }}
                </label>
            </div>

            <!-- A test div to see if images can be inserted into the document. -->
            <div class="testdiv">
                {% for mapset in document.imagedocumentmap_set.all %}
                        <div  id="id-div-tag-container">
                            <div id="id-div-tag-name">
                                <img src="{{ mapset.image.image_picture.url }}" alt="{{ mapset.image.image_name }}"
                                     class="img-responsive img-rounded">
                            </div>
                        </div>
                {% endfor %}
            </div>
        </section>


        <!-- Edit button to the right side -->
        <div class="col-sm-2">
            <div id="id-div-edit-document-button">
                <a class="btn btn-secondary" href="{% url 'notesfromxml:edit_doc' document.document_name %}"> edit document</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}