{% extends 'notesfromxml/base.html' %}
{% load static %}
{%  block head_css_page %}
    <link rel="stylesheet" type="text/css" href="{% static 'notesfromxml/css/edit-doc.css' %}" />
 {% endblock head_css_page %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!-- Add new tag to the document -->
            {% comment %}
            <div class="sidebar-module">
                <div id="id-container-add-tag">
                    <form action="{% url 'notesfromxml:edit_doc' document.document_name %}" method="post">
                        <!-- This form is for adding a tag to the displayed document -->
                        {% csrf_token %}
                        <div>
                            {{ form.as_p }}
                            <input type="hidden" name="current_document" value="{{ document.document_name }}">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
            </div>
            {% endcomment %}

            <!-- Tags that are currently associated with the document -->
            <div class="sidebar-module">
                <h3>Current Tags</h3>
                {% for tag in document.get_all_tags_sorted %}
                    <div id="id-div-tag-container">
                        <div id="id-div-tag-name">
                            <p>
                                <a href="{% url 'notesfromxml:display_tag' tag.tag_name %}">
                                    {{ tag.tag_name }}
                                </a>
                                ({{ tag.get_nr_of_docs_with_tag }})
                            </p>
                            <!-- TODO: What am I doing? -->
                            <button class="close"><span style="color:red; font-size:13pt;">&times;</span></button>
                        </div>
                        {% include 'notesfromxml/snippets/forms/remove-tag-snippet.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8">
            <div>
                <h1>{{ document.document_name }}</h1>
            </div>
            <div id="div-container-edit-document">
                <div id="div-container-edit-document-text">
                    <form action="{% url 'notesfromxml:edit_doc' document.document_name %}" method="post" id="id-form-change-document-text">
                        {% csrf_token %}
                        <div id="div-container-document-submit">
                            <input type="hidden" name="currently_viewed_doc" value="{{ document.document_name }}">
                            <label>
                                <textarea id="id-textarea-change-document-text" form="id-form-change-document-text" name="name_textarea_edit_document_text" >{{ document.document_text }}</textarea>
                            </label>
                            <div id="div-container-edit-document-submit-button">
                                <label for="input-edit-document-text"></label>
                                <input type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Edit and delete buttons to the right side -->
        <div class="col-sm-2">
            <div id="id-container-add-tag">
                <form action="{% url 'notesfromxml:edit_doc' document.document_name %}" method="post">
                    <!-- This form is for adding a tag to the displayed document -->
                    {% csrf_token %}
                    <div>
                        {{ form.as_p }}
                        <input type="hidden" name="current_document" value="{{ document.document_name }}">
                        <input type="submit" />
                    </div>
                </form>
            </div>
            <div id="id-div-container-delete-document">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteDocumentModal">
                    Delete Document
                </button>
                {% include 'notesfromxml/snippets/forms/delete-document-snippet.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}