{% extends 'notesfromxml/base.html' %}
{% load static %}
{% load app_filters %}

{% block title %} HOME {% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% block head_css_page %}
    <link href="{% static 'notesfromxml/css/index.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_page %}

{% block content %}
    <div>
        {% include "notesfromxml/snippets/create-doc-snippet.html" %}
        {% include "notesfromxml/snippets/create-image-snippet.html" %}
    </div>
    <div class="container">
        <div class="row">
            <div id="div-container-all-tags" class="col-md-4 index-col-container">
                {% if tags %}
                    <ul>
                        {% for tag in tags %}
                            <li><a href="{% url 'notesfromxml:display_portal' tag.tag_name %}">{{ tag.tag_name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}