{% extends 'notesfromxml/base.html' %}
{% load static %}

{% block title %} SPRING PORTAL {% endblock title %}
{% block head_css_page %}
    <link href="{% static 'notesfromxml/css/spring-portal.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_page %}

{% block content %}

    <section class="jumbotron jumbotron-fluid text-center">
        <h1 class="jumbotron-heading">Spring Portal</h1>
        <p class="lead">Some text about Spring.</p>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 align-self-start">
                <div id="spring-projects-container">
                    <h3>Spring Projects</h3>
                    {% for doc in spring_projects %}
                        <div class="document_wrapper mb-2 mt-2">
                            <h3><a href="{% url 'notesfromxml:display_doc' doc.document_name %}">{{ doc.document_name }}</a></h3>
                            <p>{{ doc.get_parsed_text| safe| truncatewords_html:50}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% for doc in documents %}
                <div class="col-md-4">
                    <div class="document_wrapper mb-4 mt-4">
                        <h3><a href="{% url 'notesfromxml:display_doc' doc.document_name %}">{{ doc.document_name }}</a></h3>
                        <p>{{ doc.get_parsed_text| safe| truncatewords_html:50}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}