{% extends 'notesfromxml/base.html' %}
{% load static %}

{% block content %}

<!--TEST-->
<pre class="prettyprint">
    <code class="language-python" data-lang="python">
def test_code_block():
    for tag in tag_list:
        if Tag.objects.filter(tag_name=tag).exists():
            tag_object = Tag.objects.get(tag_name=tag)
            docs_with_tag = Document.objects.filter(tagmap__tag=tag_object)
            list_of_docs_with_tags.extend(docs_with_tag)
    </code>
</pre>

<br/>
    <div style="padding-left: 30px; padding-right: 30px">
{{ test_text|safe }}
    </div>
{% endblock content %}