{% load static %}
{% load app_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'notesfromxml/style.css' %}" />

<!-- This is a recursive HTML file that goes through a recursion for the entire XML tree.
 For the recursion to work, it is necessary that every variable that is recursed through be named "value". -->

<!-- Checks if the value is any sort of dictionary, if not then it should have just regular values to output -->

<p>value: {{ value }}</p>
{% if value.1|get_type == "list" %}
    {% for value in value.1 %}
        {% include 'notesfromxml/xml-detail-test.html' %}
    {% endfor %}
    <!-- If value.1 is a dict, then value.0 is it's key. -->
{% elif value.1|get_type == "dict" %}

    <h4>value.0 - {{ value.0 }}</h4>

    <p>value: {{ value }}</p>
    <p>value get_type: {{ value|get_type }}</p>

    <!--{% if value.0 == "links" %}
        {% for key, value in value.1.items %}
            <p>links key: {{ key }} - links value: {{ value }}</p>
        {% endfor %}
    {% endif %}-->

    {% for value in value.1.items %}
        {% include 'notesfromxml/xml-detail-test.html' %}
    {% endfor %}
    <!-- It's possible that value itself is a dict. -->
{% elif value|get_type == "dict" %}
    {% for key, value in value.items %}
        {% if value|get_type != "str" %}
            <p>key: {{ key }}</p>
            {% include 'notesfromxml/xml-detail-test.html' %}
        {% else %}
            <p>key = {{ key }} - value = {{ value }}</p>
        {% endif %}
    {% endfor %}
{% endif %}