<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- A block for the title of the page -->
    <title>{% block title %} Title {% endblock title %}</title>
    <!-- A block for the icon of the page. -->
    {% block head_favicon %}
        <link rel="icon" type="image/png"
              href="{{ STATIC_URL }}images/favicon.ico">
    {% endblock head_favicon %}
    {% load static %}
    {% block head_css %}
        {% block head_css_site %}
            <link rel="stylesheet" href="{% static 'notemaster_core/bootstrap/bootstrap_4/bootstrap.min.css' %}"
            crossorigin="anonymous" media="screen"/>

            <link href="{% static 'notemaster_core/css/base.css' %}" rel="stylesheet" media="screen">
            <!-- This is for FontAwesome glyphicons. -->
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock head_css_site %}
        {% block head_css_section %}{% endblock head_css_section %}
        {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
</head>
<body>
{# Navigation Menu #}
<header>
    <nav class="navbar navbar-dark bg-dark fixed-top
        {% block nav-style %}{% endblock nav-style %}" role="navigation"
    >
        <div class="container p-none">
            {% block header_content %} {%endblock header_content %}

            <!-- Links to the other sites -->
            <div class="dropdown show header-other-sites">
                <a class="btn btn-secondary dropdown-toggle" role="button"
                   data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false"> Sister Sites</a>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'notes:index' %}">Notemaster</a>
                    <a class="dropdown-item" href="{% url 'taskmaster:index' %}">Taskmaster</a>
                   <a class="dropdown-item" href="{% url 'timemaster:index' %}">Timemaster</a>
                </div>
            </div>

            <!-- User account dropdown -->
            <div class="dropdown show header-user-button">
                {% if user.is_authenticated %}
                    <a class="btn btn-secondary dropdown-toggle" role="button"
                       data-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">{{ user.get_username }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Account</a>
                        <a class="dropdown-item" href={% url 'logout' %}>Logout</a>
                    </div>
                {% else %}
                    <a class="btn btn-secondary dropdown-toggle" role="button"
                       data-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">Login/SignUp</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href={% url 'login' %}>Login</a>
                        <a class="dropdown-item" href="#">SignUp</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

{# The Document Body #}
<div id="site-wrapper">
    {% block content %}
        if you see this, something is wrong!
    {% endblock content %}
</div>
{# The Footer #}
{% comment %}
<div class="footer">
    <div class="container">
        <p>A&A Industries</p>
    </div>
</div>
{% endcomment %}


{# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}

            <script src="{% static 'notemaster_core/jquery/jquery-3.4.1.min.js' %}"
            crossorigin="anonymous"></script>

            <!-- Pointing to the location of TinyMCE as determined by the django-tinymce plugin. -->
            {% comment %} <script src="{% static 'tinymce/tinymce.min.js' %}"></script> {% endcomment %}
            {% comment %} <script src="{% static 'django_tinymce/init_tinymce.js' %}"></script> {% endcomment %}
            <script type="text/javascript" src="{% static 'notemaster_core/js/tinymce/6.8.4/tinymce.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'notemaster_core/js/tinymce/6.8.4/init_tinymce.js' %}"></script>

            <!-- Bootstrap needs to load AFTER jQuery -->
            <script src="{% static 'notemaster_core/bootstrap/bootstrap_4/bootstrap.bundle.min.js' %}"
            crossorigin="anonymous"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                    crossorigin="anonymous"></script>

            <!-- Testing prettyprint for codeblocks -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
            <script>prettyPrint()</script>

            <!-- testing highlightjs for codeblocks -->
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
            <script>hljs.initHighlightingOnLoad();</script>

        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</body>
</html>