#div-container-create-doc{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 50px;
    float: right;
    display: block;
}

.create-doc-title-container{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

label{
    display: block;
    /*float: left;*/
    padding: 4px 10px 0 0;
    width: 160px;
    font-weight: bold;
}

.duplicate-name-error-container{
    font-size: 10pt;
    color: red;
}

.form-row{
    border-bottom: 1px solid #eee;
    padding: 10px;
}

fieldset{
    margin-bottom: 30px;
}