#id-textarea-display-document-text{
    height: 500px;
    width: 700px;
}

#div-container-document-text{
    padding-top: 45px;
    height: auto;
    display: block;
}

#id-div-tag-container{
    padding-bottom: 5px;
}

#tag-btn-link-text{
    white-space: normal; /* Makes the text wrap inside buttons */
    text-align: left;
}

#id-div-document-name{
    width: 150%;
    margin: 2px;
    float: left;
}

#id-div-edit-document-button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-in-text{
    width: 200px;  /* Default width is 200px. This can be overridden when inserting images. */
    max-height: 100%;
}

.broken-link{
    color: red;
}

.broken-link:hover{
    color: red;
}

.link-list, .document-list{
    border: 1px solid black;
    margin-top: 100px;
}

.link-list-header, .document-list-header{
    font-size: 20pt;
}

code{
    color: #000000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
}

#img-link-button{
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    right: 0;
}

table{
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid black;
    border-radius: 5px;
}

table td, table th{
    border-top: 1px solid black;
    border-right: 1px solid black;
}

table th{
    border-top: 0px solid black;
}


table tr:first-child th:first-child, table tr:last-child th:last-child{
    /*border-radius: 5px;*/
}


table td:last-child, table th:last-child{
    border-right: 0px solid black;
}