#div-container-image-picture img{
    max-width: 700px;
    max-height: 100%;
}

#id-div-edit-image-button{
    /*margin-left: 15%;*/
    margin-top: 40px;
    margin-bottom: 40px;
}

#id-div-tag-container{
    padding-bottom: 5px;
}

#tag-btn-link-text{
    white-space: normal; /* Makes the text wrap inside buttons */
    text-align: left;
}

#div-container-image-text{
    padding-top: 15px;
}