#div-container-edit-image-submit{
    display: grid;
}

#id-textarea-change-image-text{
    width: 700px;
    height: 700px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#div-container-edit-image{
    display: inline-block;
}

#div-container-edit-image-text{
    float:left;
    padding-left: 15px;
    padding-right: 15px;
}

#id-container-add-tag{
    float: left;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 3px;
    margin-top: 60px;
}

#id-div-tag-container{
    border: 1px solid black;
    border-radius: 3px;
}

#id-div-container-delete-image{
    padding-top: 250px;
}

.div-tag-name {
    flex: 1;
}

.div-red-x-container {
}

.div-tag-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}