.view_all_docs_in_tag_wrapper, .view-all-images-in-tag-wrapper{
     padding-top: 45px;
}

.view_single_doc_in_tag_wrapper, .view-single-image-in-tag-wrapper{
    border: 1px solid black;
    padding: 10px;
    display: flex;
}

.container-remove-document, .document-name-container{
    flex: 1;
    margin: 0 1%;
}

.btn-remove-doc{
    float: right;
}

#id_div_container_delete_tag{
    margin-top: 45px;
}