<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- A block for the title of the page -->
    <title>{% block title %} Title {% endblock title %}</title>
    <!-- A block for the icon of the page. -->
    {% block head_favicon %}
        <link rel="icon" type="image/png"
              href="{{ STATIC_URL }}images/favicon.ico">
    {% endblock head_favicon %}
    {% load static %}
    {% block head_css %}
        {% block head_css_site %}
            <link rel="stylesheet" href="{% static 'notes/bootstrap/bootstrap_4/bootstrap.min.css' %}"
            crossorigin="anonymous" media="screen"/>
            <link rel="stylesheet" href="{% static 'notes/mivhak/mivhak.min.css' %}"
                  crossorigin="anonymous" media="screen"/>
            <!-- This font is for Mivhak -->
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
            <link href="{% static 'notes/css/base.css' %}" rel="stylesheet" media="screen">
        {% endblock head_css_site %}
        {% block head_css_section %}{% endblock head_css_section %}
        {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
</head>
<body>
{# Navigation Menu #}
    <header>
        <nav class="navbar navbar-dark bg-dark fixed-top
            {% block nav-style %}{% endblock nav-style %}" role="navigation"
        >
            <div class="container p-none">
                <a class="navbar-brand" href={% url 'notes:index' %}>Home</a>
                <!-- Create dropdown -->
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" role="button"
                       data-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">Create</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href={% url 'notes:create_doc' %}>New Document</a>
                        <a class="dropdown-item" href={% url 'notes:create_image' %}>New Image</a>
                    </div>
                </div>
                <a class="navbar-brand" href={% url 'notes:display_help' %}>Help</a>
                <a class="navbar-brand" href={% url 'notes:list_db_content' %}>All Items List</a>
                <!-- Dev Stuff dropdown -->
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" role="button"
                       data-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">Dev Stuff</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href={% url 'notes:display_tests' %}>Test Page</a>
                        <a class="dropdown-item" href={% url 'notes:show_views' %}>All Views</a>
                        <a class="dropdown-item" href={% url 'notes:display_spring_portal' %}>Spring Portal</a>
                        <a class="dropdown-item" href={% url 'notes:display_programming_portal' %}>Programming Portal</a>
                        <a class="dropdown-item" href={% url 'notes:display_angular_portal' %}>Angular Portal</a>
                        <a class="dropdown-item" href={% url 'notes:homepage_test' %}>Homepage Test</a>
                    </div>
                </div>
                <!--Search bar -->
                <form class="form-inline" action="{% url 'notes:search_results' %}" method="get">
                    <div class="dropdown show input-group-btn search-panel">
                        <a class="btn btn-outline-secondary dropdown-toggle" role="button"
                           data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Filter by</a>
                        <div class="dropdown-menu" role="menu">
                            <div class="advanced-search-option dropdown-item" style="display: flex;">
                                <label for="searchdocs" style="flex: 0 0 65%;">Documents</label>
                                <input type="checkbox" name="advancedsearch[]" value="documents" title="searchdocs" checked style="flex: 1; margin-top: 7px;">
                            </div>
                            <div class="advanced-search-option dropdown-item" style="display: flex;">
                                <label for="searchtags" style="flex: 0 0 65%;">Tags</label>
                                <input type="checkbox" name="advancedsearch[]" value="tags" title="searchtags" style="flex: 1; margin-top: 7px;">
                            </div>

                            <a class="dropdown-item" href={% url 'notes:advanced_search' %}>Advanced Search</a>
                        </div>
                    </div>



                    <input id="tag-search-id" name="search-bar-input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
                <!-- User account dropdown -->
                <div class="dropdown show">
                    {% if user.is_authenticated %}
                        <a class="btn btn-secondary dropdown-toggle" role="button"
                           data-toggle="dropdown" href="#"
                           aria-haspopup="true" aria-expanded="false">{{ user.get_username }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Account</a>
                            <a class="dropdown-item" href={% url 'logout' %}>Logout</a>
                        </div>
                    {% else %}
                        <a class="btn btn-secondary dropdown-toggle" role="button"
                           data-toggle="dropdown" href="#"
                           aria-haspopup="true" aria-expanded="false">Login/SignUp</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href={% url 'login' %}>Login</a>
                            <a class="dropdown-item" href="#">SignUp</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    {# The Document Body #}
    <div id="site-wrapper">
        {% block content %}
            if you see this, something is wrong!
        {% endblock content %}
    </div>
    {# The Footer #}
    {% comment %}
    <div class="footer">
        <div class="container">
            <p>A&A Industries</p>
        </div>
    </div>
    {% endcomment %}


{# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}

            <script src="{% static 'notes/jquery/jquery-3.4.1.min.js' %}"
            crossorigin="anonymous"></script>

            <!-- Bootstrap needs to load AFTER jQuery -->
            <script src="{% static 'notes/bootstrap/bootstrap_4/bootstrap.bundle.min.js' %}"
            crossorigin="anonymous"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                    crossorigin="anonymous"></script>

            <!-- Testing prettyprint for codeblocks -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
            <script>prettyPrint()</script>

            <!-- testing highlightjs for codeblocks -->
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
            <script>hljs.initHighlightingOnLoad();</script>

            <!-- Testing mivhak for code block highlighting -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
            <script src="{% static 'notes/mivhak/mivhak.min.js' %}"></script>
            <script>$('.mivhak').mivhak();</script>

            <!-- Scripts for Mathjax, which is a JS plugin for displaying math. -->
            <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
            <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</body>
</html>