{% extends 'notemaster_core/base.html' %}
{% load static %}
{% block head_css_section %}
    <link rel="stylesheet" href="{% static 'notes/mivhak/mivhak.min.css' %}"
          crossorigin="anonymous" media="screen"/>
    <!-- This font is for Mivhak -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
{% endblock head_css_section %}

{# Navigation Menu #}
{% block header_content %}
<a class="navbar-brand" href="{% url 'notes:index' %}">Home</a>
<!-- Create dropdown -->
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" role="button"
       data-toggle="dropdown" href="#"
       aria-haspopup="true" aria-expanded="false">Create</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'notes:create_doc' %}">New Document</a>
        <a class="dropdown-item" href="{% url 'notes:create_image' %}">New Image</a>
    </div>
</div>
<a class="navbar-brand" href="{% url 'notes:display_help' %}">Help</a>
<a class="navbar-brand" href="{% url 'notes:list_db_content' %}">All Items List</a>
<!-- Dev Stuff dropdown -->
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" role="button"
       data-toggle="dropdown" href="#"
       aria-haspopup="true" aria-expanded="false">Dev Stuff</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'notes:display_tests' %}">Test Page</a>
        <a class="dropdown-item" href="{% url 'notes:display_spring_portal' %}">Spring Portal</a>
        <a class="dropdown-item" href="{% url 'notes:display_programming_portal' %}">Programming Portal</a>
        <a class="dropdown-item" href="{% url 'notes:display_angular_portal' %}">Angular Portal</a>
        <a class="dropdown-item" href="{% url 'notes:homepage_test' %}">Homepage Test</a>
    </div>
</div>
<!--Search bar -->
<form class="form-inline" action="{% url 'notes:search_results' %}" method="get">
    <div class="input-group">
        <div class="dropdown show input-group-btn search-panel">
            <a class="btn btn-outline-secondary dropdown-toggle" role="button"
               data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Filter by</a>
            <div class="dropdown-menu" role="menu">
                <div class="advanced-search-option dropdown-item" style="display: flex;">
                    <label for="searchdocs" style="flex: 0 0 65%;">Documents</label>
                    <input type="checkbox" name="advancedsearch[]" value="documents" title="searchdocs" checked style="flex: 1; margin-top: 7px;">
                </div>
                <div class="advanced-search-option dropdown-item" style="display: flex;">
                    <label for="searchtags" style="flex: 0 0 65%;">Tags</label>
                    <input type="checkbox" name="advancedsearch[]" value="tags" title="searchtags" style="flex: 1; margin-top: 7px;">
                </div>

                <a class="dropdown-item" href="{% url 'notes:advanced_search' %}">Advanced Search</a>
            </div>
        </div>



        <input id="tag-search-id" name="search-bar-input" class="mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </div>
</form>

{% endblock header_content %}

{% block footer_javascript_section %}
    <!-- Testing mivhak for code block highlighting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
    <script src="{% static 'notes/mivhak/mivhak.min.js' %}"></script>
    <script>$('.mivhak').mivhak();</script>

    <!-- Scripts for Mathjax, which is a JS plugin for displaying math. -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock footer_javascript_section %}
