{% extends 'notes/base.html' %}
{% load static %}

{% block content %}

<!--TEST-->
<pre class="prettyprint">
    <code class="language-python" data-lang="python">
def test_code_block():
    for tag in tag_list:
        if Tag.objects.filter(tag_name=tag).exists():
            tag_object = Tag.objects.get(tag_name=tag)
            docs_with_tag = Document.objects.filter(tagmap__tag=tag_object)
            list_of_docs_with_tags.extend(docs_with_tag)
    </code>
</pre>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li> {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- mivhak test -->
<h1>Mivhak test</h1>
<div class="mivhak" miv-line-numbers="true">

    <pre miv-lang="python">
        def test_code_block():
    for tag in tag_list:
        if Tag.objects.filter(tag_name=tag).exists():
            tag_object = Tag.objects.get(tag_name=tag)
            docs_with_tag = Document.objects.filter(tagmap__tag=tag_object)
            list_of_docs_with_tags.extend(docs_with_tag)
    </pre>
</div>

<div>
    <h1>Latex test</h1>

</div>

<div>
    <h1>Markdown test</h1>
    {{markdown|safe}}
</div>
<div>
    <h1>Mathjax test</h1>
    test text of test stuff \(e^x \) \( \sqrt{5} \) $a \ne 0$ $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
</div>

{% endblock content %}