{% extends 'taskmaster/base.html' %}
{% load static %}

{% block title %} Display Task {% endblock title %}

{% block head_css_page %}
    <link rel="stylesheet" type="text/css" href="{% static 'taskmaster/css/display-task.css' %}" />
{% endblock head_css_page %}

{% block content %}

<div class="container">
    <h1>{{ task.document_name }}</h1>
    <div class="row">
        <div class="col-md-4">
            <p>Task Importance: {{ task.task_importance }}</p>
            <p>Task Difficulty: {{ task.task_difficulty }}</p>
            <p>Assigned to: {{ task.task_assigned_to }}</p>
            {% if task.parent_task %}
                <p> Parent task:
                    <a href="{% url 'taskmaster:display_task' task.parent_task.id %}">
                    {{ task.parent_task.document_name }}</a></p>
            {% endif %}
            {% if task.task_deadline %}
                <p>Due date: {{ task.task_deadline }}</p>
            {% endif %}
            <div class="sidebar-module">
                <h3>Tags</h3>
                {% if task.get_all_tags_sorted %}
                    {% for tag in task.get_all_tags_sorted %}
                        <div id="id-div-tag-container">
                            <a class="btn btn-outline-secondary btn-block" href="{% url 'notes:display_tag' tag.id %}" id="tag-btn-link-text">
                                {{ tag.tag_name }} <span class="badge badge-light"> ({{ tag.get_nr_of_docs_with_tag }})</span>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            {{ task.get_parsed_text|safe }}
        </div>
        <div class="col-md-2">
            <div class="edit-task-button">
                <a class="btn btn-secondary" href="{% url 'taskmaster:edit_task' task.id %}">Edit Task</a>
            </div>
            <div class="assigned-list">
                <p>List: {{ task.task_list.list_name }}</p>
            </div>
            <div class="assigned-board">

                <p>Board: <a href="{% url 'taskmaster:display_board' task.task_board.id %}">
                    {{ task.task_board.board_name }}</a></p>
            </div>
            <div>
                <p>Created: <span class="badge badge-light">{{ task.document_created }}</span> </p>
                <p>Created By: <span class="badge badge-light">{{ task.document_created_by }}</span> </p>
                <p>Modified: <span class="badge badge-light">{{ task.document_modified }}</span> </p>
                <p>Modified By: <span class="badge badge-light">{{ task.document_last_modified_by }}</span> </p>
                <p>Previous task: <span class="badge badge-light">{{ task.previous_task }}</span> </p>
                <p>Next task: <span class="badge badge-light">{{ task.next_task }}</span> </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}