{% extends 'taskmaster/base.html' %}
{% load static %}

{% block title %} {{ board.board_name }} {% endblock title %}

{% block head_css_page %}
    <link rel="stylesheet" type="text/css" href="{% static 'taskmaster/css/display-task-board.css' %}" />
{% endblock head_css_page %}

{% block content %}
{% if board %}

<div class="container-fluid task-board-container">
    <div class="row">
        <div class="col">
            <h1><a href="{% url 'taskmaster:edit_board' board.id %}">{{ board.board_name }}</a></h1>
        </div>
        <div class="col">
            <form action="{% url 'taskmaster:display_board' board.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ create_board_list_form }}
                <input type="submit" value="Add List">
            </form>
        </div>
    </div>
    <div class="row board-list-container">
        {% if orphan_tasks %}
        <div class="col task-list-column">
            <div class="task-list-container">
                <div class="list-top">
                    <div class="list-name">
                        Tasks without a list
                    </div>
                    <div class="orphan-tasks">
                        {% for task in orphan_tasks %}
                        <div class="task-card">
                            <ul>
                                <li><a href="{% url 'taskmaster:display_task' task.id %}">
                                    {{ task.document_name }}</a></li>
                                {% comment %}
                                <div class="reorder-buttons-container">
                                    <form action="{% url 'taskmaster:display_board' board.id %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <input type="hidden" name="task_to_move" value="{{ task.id }}">
                                        <button class="close" name="move_task_down">
                                            <span style="color:red; font-size:10pt;">&#x2B07;</span>
                                        </button>
                                        <button class="close" name="move_task_up">
                                            <span style="color:red; font-size:10pt;">&#x2B06;</span>
                                        </button>
                                    </form>
                                </div>
                                {% endcomment %}

                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% for board_list in board.get_all_lists_in_board_in_custom_order %}
            <div class="col task-list-column">
                <div class="task-list-container">
                    <div class="list-top">
                        <div class="list-name">
                            {{ board_list.list_name }}
                        </div>
                        <div class="move-list-buttons-container">
                            <form action="{% url 'taskmaster:display_board' board.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="list_to_move" value="{{ board_list.id }}">
                                <button class="close" name="move_list_right">
                                    <span style="color:red; font-size:10pt;">&#x27A1;</span>
                                </button>
                                <button class="close" name="move_list_left">
                                    <span style="color:red; font-size:10pt;">&#x2B05;</span>
                                </button>
                            </form>


                        </div>

                        {% comment %}
                        <form action="{% url 'taskmaster:delete_list' board_list.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            <button class="close delete-list-button" data-toggle="modal" data-target="#deleteListModal">
                                <span style="color:red; font-size:20pt;">&times;</span>
                            </button>
                        </form>
                        {% endcomment %}
                        <button class="close delete-list-button" data-toggle="modal" data-target="#deleteListModal_{{board_list.id}}">
                            <span style="color:red; font-size:20pt;">&times;</span>
                        </button>
                        {% include 'taskmaster/snippets/modals/delete-list-modal.html' %}
                    </div>
                    <ol class="list-group list-group-numbered">
                    {% for task in board_list.get_all_tasks_in_list_in_custom_order %}
                        <li class="list-group-item task-card">
                        <div class="task-card-container">

                            <a href="{% url 'taskmaster:display_task' task.id %}">
                                {{ task.document_name }}</a>
                            <div class="reorder-buttons-container">
                                <form action="{% url 'taskmaster:display_board' board.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <input type="hidden" name="task_to_move" value="{{ task.id }}">
                                    <button class="close" name="move_task_down">
                                        <span style="color:red; font-size:10pt;">&#x2B07;</span>
                                    </button>
                                    <button class="close" name="move_task_up">
                                        <span style="color:red; font-size:10pt;">&#x2B06;</span>
                                    </button>
                                </form>
                            </div>

                        </div>
                        </li>

                    {% endfor %}
                    </ol>
                    <div class="add-task-container">
                        <form class="form-inline" action="{% url 'taskmaster:display_board' board.id %}" method="post"
                              enctype="multipart/form-data">

                            <input type="hidden" name="currently_viewed_task_list" value="{{ board_list.list_name }}">
                            {% csrf_token %}
                            {{ create_task_form }}
                            <input class="btn btn-secondary btn-sm" type="submit" value="Add Task">
                        </form>
                    </div>
                </div>
            </div>
        {% empty %}
        <div>Your board is empty. Start by creating a task list.</div>
        {% endfor %}

    </div>
</div>

{% endif %}
{% endblock content %}