{% extends 'taskmaster/base.html' %}
{% load static %}

{% block title %} Edit Task {% endblock title %}

{% block head_css_page %}
    <link rel="stylesheet" type="text/css" href="{% static 'taskmaster/css/edit-task.css' %}" />
{% endblock head_css_page %}

{% block content %}

<div class="container">
    <h1>Editing a Task</h1>
    <form action="{% url 'taskmaster:edit_task' task.id %}" method="post" id="id-form-edit-task-2">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-2">
                <!-- Tags that are currently associated with the document -->
                <div class="sidebar-module">
                    <h3>Tags</h3>
                    {% for tag in task.get_all_tags_sorted %}
                        <div class="div-tag-container">
                            <div class="div-tag-input-container">
                                <div class="div-tag-name">
                                    <p>
                                        <a href="{% url 'notes:display_tag' tag.id %}">{{ tag.tag_name }}</a>
                                        <span class="badge badge-light"> ({{ tag.get_nr_of_docs_with_tag }})</span>
                                    </p>
                                </div>
                                <div class="div-red-x-container">
                                    <!-- TODO: modal for confirmation when you press the button -->
                                    <button class="close" type="button" data-toggle="modal" data-target="#removeTagModal_{{tag.id}}">
                                        <span style="color:red; font-size:20pt;">&times;</span>
                                    </button>
                                    {% with task as document %}
                                    {% include 'taskmaster/snippets/modals/remove-tag-modal.html' %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {{ task_form.task_list.label }} {{ task_form.task_list }}
                    {{ task_form.task_difficulty.label }} {{ task_form.task_difficulty }}
                    {{ task_form.task_importance.label }} {{ task_form.task_importance }}
                    {{ task_form.task_assigned_to.label }} {{ task_form.task_assigned_to }}
                    {{ task_form.parent_task.label }} {{ task_form.parent_task }}
                    {{ task_form.task_deadline.label }} {{ task_form.task_deadline }}
                    <div>
                        <div>
                            {{ add_tag_form.as_p }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div>
                    {{ task_form.document_name }}
                </div>
                <div>
                    {{ task_form.document_text }}
                </div>
            </div>
            <div class="col-sm-2">
                <div class="assigned-board">
                    <p>Board: <a href="{% url 'taskmaster:display_board' task.task_board.id %}">
                        {{ task.task_board }}</a></p>
                </div>
                {{ task_form.next_task.label }} {{ task_form.next_task }}
                {{ task_form.previous_task.label }} {{ task_form.previous_task }}
            </div>
        </div>
        <div class="test"></div>

        <!-- Save and delete buttons are at the bottom where you can't accidentally click them -->
        <div class="row">
            <div class="col-sm-2">
                <input type="submit" value="Save Changes" class="btn btn-primary">
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">
                <div class="delete-task-container">
                    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#deleteTaskModal">
                        Delete Task
                    </button>
                    {% include 'taskmaster/snippets/modals/delete-task-modal.html' %}
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}