{% extends 'taskmaster/base.html' %}
{% load static %}

{% block title %} TASKMASTER {% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% block head_css_page %}
    <link rel="stylesheet" type="text/css" href="{% static 'taskmaster/css/index.css' %}" />
{% endblock head_css_page %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 create-board-container">
            <form action="{% url 'taskmaster:index'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ create_board_form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="row">
        {% for board in boards %}
            <div class="col-md-4 board-cards-container">
                {% include 'taskmaster/snippets/board-card-snippet.html' %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}