{% extends 'taskmaster/base.html' %}
{% load static %}

{% block title %} TASKMASTER {% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% block head_css_page %}
    <link rel="stylesheet" type="text/css" href="{% static 'taskmaster/css/index.css' %}" />
{% endblock head_css_page %}

{% block content %}
<div class="container">
    <div class="row">
        {% for board in boards %}
            <div class="col-md-4">
                {% include 'taskmaster/snippets/board-card-snippet.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}