<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% load static %}
  {% block head_css %}
        {% block head_css_site %}
          <link rel="stylesheet" href="{% static 'notemaster_core/bootstrap/bootstrap_4/bootstrap.min.css' %}"
            crossorigin="anonymous" media="screen"/>
        {% endblock head_css_site %}
  {% endblock head_css %}

</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>

{# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}

        <script src="{% static 'notemaster_core/jquery/jquery-3.4.1.min.js' %}"
                crossorigin="anonymous"></script>

         <!-- Bootstrap needs to load AFTER jQuery -->
          <script src="{% static 'notemaster_core/bootstrap/bootstrap_4/bootstrap.bundle.min.js' %}"
                  crossorigin="anonymous"></script>

        {% endblock footer_javascript_site %}
    {% endblock footer_javascript %}
</body>
</html>