.task-card{
    border: 2px solid #cccccc;
    background-color: #f2f2f2;
    border-radius: 6px;
    margin-bottom: 10px;
}

.task-list-container{
    border: 2px solid #cccccc;
    background-color: #f6f6f6;
    border-radius: 6px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.board-list-container{
    flex-wrap: nowrap;
}

.task-board-container{
    margin-left: 5%;
}

.add-task-container input{
    max-width: 55%;
    margin-left: 2px;
}

.reorder-buttons-container{
    padding-bottom: 10px;
}

.delete-list-button{
    position: absolute;
    top: 0;
    right: 10%;
}

.move-list-buttons-container{
    position: absolute;
    top: 0;
    right: 17%;
}
.task-card-container{
    display: list-item;
    margin-left: 3%;
}

.list-group-item{
    padding-bottom: 2px;
    padding-right: 2px;
}