#id-textarea-change-task-name{
    width: 700px;
    /*height: 700px;*/
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    /*float:left;*/
}

.task-name-input{
    width: 700px;
    /*height: 700px;*/
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#id-textarea-change-task-text{
    width: 700px;
    height: 300px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    /*float:left;*/
}

.select-block{
    width: 150px;
}

.div-tag-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-tag-container{
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 20px;
}