<form action="{% url 'notesfromxml:remove' mapset.document.document_name %}" method="post">
<!-- This form is for removing documents from the tag-->
    {% csrf_token %}
    <div>
        <input type="hidden" name="object_type" value="document">
        <input type="hidden" name="action_type" value="remove">
        <input type="hidden" name="currently_viewed_tag" value="{{ tag.tag_name }}">
        <button type="submit" class="btn btn-danger" value="Remove Document">Remove Document</button>
    </div>
</form>