#div-container-create-image{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 50px;
    float: right;
    display: block;
}

.create-image-input{
    text-align: right;
    float: left;
}

.create-image-title-container{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.create-image-name-container{
    /*text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;*/
    display: block;
    float: left;
    /*width: 100px;*/
}

.create-image-text-container{
    display: block;
    float: left;
    /*width: 100px;*/
}

.create-image-image-upload-container{
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    display: block;
    float: left;
    /*width: 100px;*/
}

.create-image-tag-container{
    display: block;
    float: left;
    /*width: 100px;*/
}

.create-image-submit-btn-container{
    display: block;
    float: left;
}