#id_label_textarea_display_document_text{
    height: auto;
    display: block;
}

#id_textarea_display_document_text{
    height: 500px;
    width: 700px;
}

#div-container-document-text{
    /*padding: 45px;*/
    padding-top: 45px;
}

#id_div_tag_container{
    border: 1px solid black;
    /*padding-bottom: 1%;
    padding-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: fill;

    width: 10%;*/
    /*box-shadow: 5px 10px #888888;*/
    /*display: inline-flex;*/
}

#tag-box-container{
    border: 1px solid black;
}

#id_div_tag_remove_button_container{
    /*width: 15%;*/
    /*float: left;*/
    /*margin-right: 100px;
    margin-top: 10%;
    margin-left: 10%;*/
}

#id_div_tag_name{
    /*margin-left: 15%;*/
}

#id_div_container_name_and_edit_document{
    /*width: 80%;
    height: 150px;
    margin: auto;*/

}

#id_div_document_name{
    width: 150%;
    margin: 2px;
    float: left;
}

#id_div_container_delete_document{
    /*float: right;*/
}

#id_div_edit_document_button{
    /*margin-left: 15%;*/
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-in-text{
    max-width: 200px;
    max-height: 100%;
}

.broken-link{
    color: red;
}

.broken-link:hover{
    color: red;
}