#id-label-textarea-display-document-text{
    height: auto;
    display: block;
}

#id-textarea-display-document-text{
    height: 500px;
    width: 700px;
}

#div-container-document-text{
    /*padding: 45px;*/
    padding-top: 45px;
}

#id-div-tag-container{
    border: 1px solid black;
    /*padding-bottom: 1%;
    padding-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: fill;

    width: 10%;*/
    /*box-shadow: 5px 10px #888888;*/
    /*display: inline-flex;*/
}

#tag-box-container{
    border: 1px solid black;
}

#id-div-tag-remove-button-container{
    /*width: 15%;*/
    /*float: left;*/
    /*margin-right: 100px;
    margin-top: 10%;
    margin-left: 10%;*/
}

#id-div-tag-name{
    /*margin-left: 15%;*/
}

#id-div-container-name-and-edit-document{
    /*width: 80%;
    height: 150px;
    margin: auto;*/

}

#id-div-document-name{
    width: 150%;
    margin: 2px;
    float: left;
}

#id-div-container-delete-document{
    /*float: right;*/
}

#id-div-edit-document-button{
    /*margin-left: 15%;*/
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-in-text{
    max-width: 200px;
    max-height: 100%;
}

.broken-link{
    color: red;
}

.broken-link:hover{
    color: red;
}

.link-list, .document-list{
    border: 1px solid black;
    margin-top: 100px;
}

.link-list-header, .document-list-header{
    font-size: 20pt;
}

code{
    color: #000000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
}