#id-label-textarea-display-document-text{
    height: auto;
    display: block;
}

#id-textarea-display-document-text{
    height: 500px;
    width: 700px;
}

#div-container-document-text{
    padding-top: 45px;
}

#id-div-tag-container{
    padding-bottom: 5px;
}

#tag-btn-link-text{
    white-space: normal; /* Makes the text wrap inside buttons */
    text-align: left;
}

#id-div-document-name{
    width: 150%;
    margin: 2px;
    float: left;
}

#id-div-edit-document-button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-in-text{
    max-width: 200px;
    max-height: 100%;
}

.broken-link{
    color: red;
}

.broken-link:hover{
    color: red;
}

.link-list, .document-list{
    border: 1px solid black;
    margin-top: 100px;
}

.link-list-header, .document-list-header{
    font-size: 20pt;
}

code{
    color: #000000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
}