#div-container-edit-document-submit{
    display: grid;
}

#id_textarea_change_document_text{
    width: 700px;
    height: 700px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    /*float:left;*/
}

#div-container-edit-document-submit-button{
    /*float:left;*/
}

#div_container_edit_document{
    display: inline-block;
}

#div_container_edit_document_text{
    float:left;
    padding-left: 15px;
    padding-right: 15px;
}

#id_container_add_tag{
    float:right;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 3px;
}