#div-container-edit-document-submit{
    display: grid;
}

#id-textarea-change-document-text{
    width: 700px;
    height: 700px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    /*float:left;*/
}

#div-container-edit-document-submit-button{
    /*float:left;*/
}

#div-container-edit-document{
    display: inline-block;
}

#div-container-edit-document-text{
    float:left;
    padding-left: 15px;
    padding-right: 15px;
}

#id-container-add-tag{
    float: left;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 3px;
    margin-top: 60px;
}

#id-div-tag-container{
    border: 1px solid black;
}

#id-div-container-delete-document{
    padding-top: 250px;
}