a {
    color: blue;
}

#div-container-create-doc{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 50px;
    float: right;
    display: block;
}

.create_doc_input{
    text-align: right
}

#div-container-all-tags{
    border: 1px solid black;
    float: left;
    padding: 10px;
}

#div-container-all-docs{
    border: 1px solid black;
    float: left;
    padding: 10px;
}

#div-container-all-tagmaps{
    border: 1px solid black;
    float: left;
    padding: 10px;
}

.index-container{
    padding-top: 3rem;
}