a {
    color: blue;
}

#div-container-create-doc, #div-container-create-image{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 50px;
    float: right;
    display: block;
}

.create_doc_input, .create-image-input{
    text-align: right;
}

.index-container{
    padding-top: 3rem;
}

.index-col-container{
    border: 2px solid #cccccc;
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 6px;
}